.heading{
	margin-top:20px;
	background-color:#000000;
}

.text{
	padding: 10px 0 10px 10px;
	color:white;
}

.item__type{
	color: #606c76;
	font-style: italic;
	text-transform: capitalize;
}

.jumbotron{
	    padding: 2rem 2rem;
			margin-bottom:0rem;
}
