{% extends "base.html" %}

{% block content %}
    <div class="row marketing">
        <div class="col-lg-50">
          <h4>{{categoryItem.name}}</h4>
        		<p>{{categoryItem.description}}</p>
						<a href="{{url_for('showCategory', catalog_id = categoryItem.category_id)}}" class="btn btn-success">Back</a>
						{% if 'username' in session and creator.id == session['user_id'] %}
							<a href="{{url_for('editCategoryItem', catalog_id = categoryItem.category_id, item_id = categoryItem.id)}}" class="btn btn-success">Edit</a>
							<a href="{{url_for('deleteCategoryItem', catalog_id = categoryItem.category_id, item_id = categoryItem.id)}}" class="btn btn-success">Delete</a>
						{% endif %}
        </div>
    </div>
{% endblock %}
