{% extends "base.html" %}

{% block content %}
			<h3>Edit item</h3>
			<form class="form-horizontal" action="#" method="post">
				<div class="form-group">
					<div class="col-xs-10">
						<label for="" class="form__label">Name:</label>
							<input type="text" name="name" value="{{categoryItem.name}}" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-10">
						<label for="" class="form__label">Description:</label>
							<textarea name="description" id="" cols="30" rows="10"  class="form-control">{{categoryItem.description}}</textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-10">
						<label for="" class="form__label">Category:</label>
							<select class="form-control" name="category">
								{% for category in categories %}
									{% if categoryItem.category_id == category.id %}
										<option selected value="{{category.id}}">{{category.name}}</option>
									{% else %}
										<option value="{{category.id}}">{{category.name}}</option>
									{% endif %}
								{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-2 col-xs-10">
						<a href="{{url_for('showCategoryItem', catalog_id = categoryItem.category_id ,item_id = categoryItem.id )}}" class="btn btn-success">Back</a>
						<input type="submit" class="btn btn-success" value="Update">
					</div>
				</div>
				</form>
{% endblock %}
